.page_content {
  margin: 55px 300px;
  background: rgba(129, 131, 129, 0.7);
  border-radius: 25px;
}

ul {
  list-style-position: inside;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.subtitle {
  color: #fff;
  text-align: center;
  font-size: 35px;
  padding-bottom: 15px;
}

.mission {
  font-size: 1.4rem;
  padding: 15px;

  color: #fff;
}

@media screen and (max-width: 960px) {
  .page_content {
    margin: 0px;
  }
}
