.page_content {
  margin: 55px 300px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
}
.subtitle {
  color: #fff;
  text-align: center;

  padding-bottom: 50px;
}

.mission {
  background-color: black;
  font-size: 1.4rem;
  text-align: center;
  background: rgba(129, 131, 129, 0.5);
  border-radius: 25px;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .page_content {
    margin: 0px;
  }
}
